
= render 'form'
%hr
.movies
  - if @search.search_movies.empty?
    %p No Records Found
  - else
    - @search.search_movies.each do |movie|
      .movie
        .poster
          = link_to (image_tag movie.image.url(:medium)), movie, class: "poster-img"
          .buttons
            %span
              -# = pluralize(movie.reviews.count, "Review")
              = movie.reviews.count
              %i.fa.fa-comment-o
            %span
              = movie.get_likes.size
              %i.heart.fa.fa-heart
