%h1 Search Results
%hr
- if @search.search_movies.empty?
  %p No Records Found
- else
  - @search.search_movies.each do |movie|
    %p= movie.title

%p= link_to "Back", new_search_path
-# %p= will_paginate @collection, renderer: BootstrapPagination::Rails, previous_label: "Previous", next_label: "Next", inner_window: 1, outer_window: 0
