/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";


/*-------------------------------------*/
/* Basic Setup*/
/*-------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  font-family: 'Mallanna', 'Verdana', sans-serif;
  height: 100%;
  width: 100%;
}

// .container {
//     min-height: 100%;
//     margin-bottom: -50px; /* Equivalent to footer's height */
// }

/*-------------------------------------*/
/* Reusable Code*/
/*-------------------------------------*/
.hide {
  display: none !important;
}

.show {

}

$blue: #00384a;
$white: whitesmoke;
$darkgreen: #00865a;
$lightgreen: #a5cf10;
$yellow: #f7cf10;
$orange: #f76110;

/*-------------------------------------*/
/* Big Navigation Bar*/
/*-------------------------------------*/
.header-banner {
  background: $blue;
  header {
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    .nav-logo-img, .nav-browse-img {
      height: 40px;
      width: auto;
    }
    .nav-expand-icon, .nav-profile-icon {
      font-size: 170%;
      color: $white;
    }
    .nav-search, .nav-expand, .nav-profile {
      margin: 0 20px;
    }
    .nav-search-form input{
      width: 250px;
      height: 35px;
      font-size: .85em;
      font-weight: bold;
      color: $white;
      border: 2px solid $white;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      padding: 4px 30px;
      background: $blue;
      // url(/assets/images/icon-search.svg) no-repeat 9px 8px;
    }
    nav {
      position: absolute;
      background: $blue;
      width: 90px;
      padding: 20px;
      ul {
        list-style: none;
        li {
          a, a:visited {
            color: $white;
            text-decoration: none;
          }
        }
      }
    }
  }
}

header {
  display: flex;
  justify-content: space-between;
    align-items: center;
}

.nav-logo {

}
.user-tools {
  display: flex;
  align-items: center;
}
