/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "bootstrap";
 @import "font-awesome";


/*-------------------------------------*/
/* Basic Setup*/
/*-------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  min-height: 100%;
  width: 100%;
  background-color:  #2a2c2b;
  color: whitesmoke;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

html {
  // position: relative;
}
.wrapper {
  max-width: 90%;
  margin: 0px auto;
}

$white: whitesmoke;
$black: #2a2c2b;
$banner: #191919;
$red: #ff3939;
$fblue: #3b5998;

/*-----------HEADINGS------------- ----*/


h1, h2, h3 {
    margin: 0;
    font-family: 'Mallanna', 'Verdana', sans-serif;
    // letter-spacing: 2px;
}

/*-------------------------------------*/
/* Reusable Code*/
/*-------------------------------------*/
.hide {
  display: none !important;
}

.show {

}
.heart {
  color: $red;
}
/*-------------------------------------*/
/* Navigation Bar*/
/*-------------------------------------*/
.header-banner {
  height: 12.5%;
  background: $white;
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  header {
    height: 100%;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    .nav-logo-img, .nav-browse-img {
      height: 60px;
      width: auto;
      margin-bottom: 5px;
      // padding-top: 4px;
      // margin-bottom: -2px;
    }
    .nav-expand-icon, .nav-profile-icon {
      font-size: 170%;
      color: $black;
    }
    .nav-search, .nav-expand, .nav-profile {
      margin: 0 20px;
    }
    .nav-search-form input{
      width: 250px;
      height: 35px;
      font-size: .85em;
      font-weight: bold;
      color: $black;
      border: 2px solid $black;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      padding: 4px 30px;
      background: $white;
      // url(/assets/images/icon-search.svg) no-repeat 9px 8px;
    }
    nav {
      z-index: 1;
      position: absolute;
      background: $white;
      width: 120px;
      padding: 20px;
      ul {
        list-style: none;
        li {
          a, a:visited {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
/****** Flex ******/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-tools {
  display: flex;
  align-items: center;
}
/*-------------------------------------*/
/* Index Page*/
/*-------------------------------------*/

.banner {
  background: $banner;
  color: $white;
  text-align: center;
  height: 200px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3, .banner-actions {
    margin: auto;
  }
  a, a:visited {
    color: $white;
    text-decoration: none;
  }
  .banner-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      padding-top: 10px;
    }
  }
}

.form-inputs {
  color: black;
  .upload {
    color: $white;
  }
}

/* Carousel */
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: $white;
}

#coverCarousel {
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  max-width: 1440px;
  width: 95%;
  height: 400px;
  margin: 30px auto 30px;
  overflow: hidden;
  .item {
    z-index: 0;
    height: 400px;
    .carousel-caption {
      padding-top: 10px !important;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      bottom: -30px !important;
      left: 0 !important;
      right: 0 !important;
      .title {
        font-size: 30px;
      }
      .buttons {
        font-size: 25px;
        span {
          padding: 0px 10px;
        }
      }
    }
  }

}

/* Movie Cards */
.movies {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .movie {
    -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    text-align: center;
    width: 250px;
    margin: 20px;
    background: $black;
    position: relative;
    .poster-img {
    }
    .buttons {
      position: absolute;
      top:11px;
      left: 0;
      width: 100%;
      // background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      span {
        padding: 4px;
        font-size: 1.3em;
      }
    }
    // border-bottom: 4px solid $red;
  }
}
/* Footer */
footer {
  width: 100%;
  background: $banner;
  height: 200px;
  .footer {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
    display: flex;
    justify-content: center;
    .footer-logo {
      margin: 40px;
    }
    .creator {
      margin: 30px;
      h3, h2, .icons {
        margin-top: 5px;
      }
      .icons {
        width: 150px;
        display: flex;
        justify-content: space-around;
        i {
          font-size: 25px;
        }
        a {
          text-decoration: none;
          color: $white;
        }
      }
    }
  }
}

/*-------------------------------------*/
/* Browse Movies Page*/
/*-------------------------------------*/

.advanced-search-form {
  .form {
    .form-heading {
      text-align: center;
    }
    .form-fields {
      display: flex;
      justify-content: center;
      .form-inputs {
        display: flex;
        flex-direction: column;
        .keywords{
          display: flex;
          justify-content: center;
        }
        .year-genre {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
        .director-actor {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
      .form-actions {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.paginate {
  margin: 20px;
  display: flex;
  justify-content: center;
  ul {
    .active {
      span {
        background: $red !important;
      }
    }
    li {
      span, a{
        margin: 5px;
        padding: 10px 22px;
        color: $white !important;
        background: $banner !important;
        border: none !important;
      }

    }
  }
}

/*-------------------------------------*/
/* Movie Show Page*/
/*-------------------------------------*/
.movie-cover {
  width: 100%;
  z-index: 0;
  height: 500px;
  overflow: hidden;
  position: relative;
  .show-cover {
    // -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    // -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    // box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    opacity: 0.17;
    overflow: hidden;
    position: absolute;
    left: -100%;
    right: -100%;
    top: -40%;
    bottom: -100%;
    margin: auto;
    height: auto;
    width: auto;
  }
  position: relative;
  .data {
    top: 9%;
    left: 0%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .movie-info {
      // margin: auto;
      // width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        display: flex;
        justify-content: center;
        .movie-title {
          width:180px;
           text-align: center;
        }
        .buttons {
          text-align: center;
          font-size: 26px;
          a {
            text-decoration: none;
          }
          span {
            padding: 0px 10px;
          }
        }
      }
      .poster {
        // margin: auto;
        margin-top: 10px;
        background: black;
        img:hover {
          opacity: 0.3;
        }
      }
    }
    .info {
      width: 400px;
      // Change in media queries
      padding-top: 62px;
      margin-left: 20px;
      font-size: 1.2em;
      .icons {
        width: 200px;
        display: flex;
        justify-content: space-around;
        i {
          text-decoration: none;
          font-size: 25px;
          color: $white;
        }
        // .wiki {
        //   color: white;
        // }
        .tomato {
          padding-bottom: 7px;
        }
        // .youtube {
        //   // background: white;
        //   color: $red;
        // }
        // .facebook {
        //   color: $fblue;
        // }
      }
    }
  }
}
.review {
  margin: 30px 25%;
  width: 50%;
  display: flex;
  justify-content: center;
  #star-rating {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    img {
      height: 25px;
      width: auto;
    }
  }
  .review-text {
    textarea {
      color: $black;
      // Reduce in media queries
      width: 400px;
      height: 80px;
    }
  }
  .submit {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}

.reviews {
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  padding: 10px;
  margin: 30px 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .separator {
    margin: auto;
    border-top: 1px solid $white;
    width: 75px;
  }
  .stars {
    padding-top: 15px;
    margin: auto;
  }
  .review-body {
    padding-top: 5px;
    text-align: center;
  }
  .review-info {
    span{
      margin-right: 15px;
    }
    a {
      text-decoration: none;
      color: $white;
    }
    .delete {
      border: 1px solid $white;
      padding: 4px;
      margin: 4px;
      border-radius: 4px;
    }
  }
}
.random-movie {
  padding: 10px;
  margin: 30px 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
  }
  h3 {
    text-align: center;
    margin: auto;
    color: $white;
  }
}
