/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "font-awesome-sprockets";
 @import "bootstrap";
 @import "font-awesome";


/*-------------------------------------*/
/* Basic Setup*/
/*-------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html, body {
  font-family: 'Montserrat', 'Verdana', sans-serif;
  height: 100%;
  width: 100%;
  background-color:  #2a2c2b;
  color: whitesmoke;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.wrapper {
  max-width: 90%;
  margin: 0px auto;
}

$white: whitesmoke;
$black: #2a2c2b;
$banner: #191919;
$red: #ff3939;

/*-----------HEADINGS------------- ----*/


h1, h2, h3 {
    margin: 0;
    font-family: 'Mallanna', 'Verdana', sans-serif;
    // letter-spacing: 2px;
}

/*-------------------------------------*/
/* Reusable Code*/
/*-------------------------------------*/
.hide {
  display: none !important;
}

.show {

}
.heart {
  color: $red;
}
/*-------------------------------------*/
/* Navigation Bar*/
/*-------------------------------------*/
.header-banner {
  height: 12.5%;
  background: $white;
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  header {
    height: 100%;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-right: auto;
    .nav-logo-img, .nav-browse-img {
      height: 60px;
      width: auto;
      // padding-top: 4px;
      // margin-bottom: -2px;
    }
    .nav-expand-icon, .nav-profile-icon {
      font-size: 170%;
      color: $black;
    }
    .nav-search, .nav-expand, .nav-profile {
      margin: 0 20px;
    }
    .nav-search-form input{
      width: 250px;
      height: 35px;
      font-size: .85em;
      font-weight: bold;
      color: $black;
      border: 2px solid $black;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      padding: 4px 30px;
      background: $white;
      // url(/assets/images/icon-search.svg) no-repeat 9px 8px;
    }
    nav {
      z-index: 1;
      position: absolute;
      background: $white;
      width: 120px;
      padding: 20px;
      ul {
        list-style: none;
        li {
          a, a:visited {
            color: $black;
            text-decoration: none;
          }
        }
      }
    }
  }
}
/****** Flex ******/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-tools {
  display: flex;
  align-items: center;
}
/*-------------------------------------*/
/* Index Page*/
/*-------------------------------------*/

.banner {
  background: $banner;
  color: $white;
  text-align: center;
  height: 200px;
  padding-bottom: 15px;
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3, .banner-actions {
    margin: auto;
  }
  a, a:visited {
    color: $white;
    text-decoration: none;
  }
  .banner-text {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      padding-top: 10px;
    }
  }
}

.form-inputs {
  color: black;
  .upload {
    color: $white;
  }
}

/* Carousel */
.carousel-control.left, .carousel-control.right {
    background-image: none;
    color: $white;
}

#coverCarousel {
  -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
  max-width: 1440px;
  width: 95%;
  height: 400px;
  margin: 30px auto 30px;
  .item {
    z-index: 0;
    height: 400px;
    .carousel-caption {
      padding-top: 10px !important;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      bottom: -30px !important;
      left: 0 !important;
      right: 0 !important;
      .title {
        font-size: 30px;
      }
      .buttons {
        font-size: 25px;
        span {
          padding: 0px 10px;
        }
      }
    }
  }

}

/* Movie Cards */
.movies {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .movie {
    -webkit-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 11px -1px rgba(0,0,0,0.75);
    text-align: center;
    width: 250px;
    margin-top: 20px;
    background: $black;
    position: relative;
    .poster-img {
    }
    .buttons {
      position: absolute;
      top:11px;
      left: 0;
      width: 100%;
      // background: rgb(0, 0, 0); /* fallback color */
      background: rgba(0, 0, 0, 0.7);
      span {
        padding: 4px;
        font-size: 1.3em;
      }
    }
    border-bottom: 4px solid $red;
  }
}
