.review
  = simple_form_for [@movie, Review.new] do |f|
    #star-rating
    .review-text
      = f.input :body, label: "Review", label: false, placeholder: "Write a Review", size: "30x10"
    .submit
      = f.button :submit, "Submit"

:javascript
  $('#star-rating').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
